body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url('https://pixabay.com/get/g31b52b8d56f8ed7e1474b1fd4a20a4b1af2d3660a0eb26c2e06274673479030089222e3cbbeea5a775df15367d697bbd1d364506e153a28be761be56dca6d8b6d8e6291dfe6a667426bb7669d35db0c1_1920.jpg') bottom no-repeat;
/*    background: url('https://pixabay.com/get/g058d17e9ad2c5562540e78be5642efa7d2d479977b117cad2cce211126d2322a442718d35454a744ac33491c59ac13efdb7cb245661c430f96aff9d273e8db3f4abbe1ee0c47dcdb20f2918817fe01fb_1920.jpg') bottom no-repeat;*/
    background-size: cover;
}

h1 {
/*    color: #E83A00;*/
    color: rgb(255, 68, 68);
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}
article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}